=

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'home:home' %}"><span>Kaan</span> Filo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- <li class="{{active}}"><a href="{% url 'home:home' %}">Anasayfa</a></li> -->

          <li class="drop-down"><a href="{% url 'home:home' %}#about">Hakkımızda</a>
            <ul>
              
              {% for about in abouts  %}
                
              <li><a href="{{about.get_absolute_url}}">{{about.title}}</a></li>
              {% endfor %}
                 
            
            </ul>
          </li>

          <li class="drop-down"><a href="{% url 'home:home' %}#services">Hizmetlerimiz</a>
            <ul>
              {% for renting in rentings  %}
                
              <li><a href="{{renting.get_absolute_url}}">{{renting.title}}</a></li>
              {% endfor %}

            </ul>
          </li>

     





          <li><a href="{% url 'home:offer' %}">Teklif Al</a></li>
          <!-- <li><a href="{% url 'home:home' %}#">2.EL</a></li> -->
          <li><a href="{% url 'home:home' %}#portfolio">Araçlarımız</a></li>
          <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
          <!-- <li><a href="pricing.html">Teklif Al</a></li> -->
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <li><a href="{% url 'home:contact' %}">İletişim</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="{{setting.instagram_url}}" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="{{setting.twitter_url}}" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="{{setting.facebook_url}}" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="{{setting.linkedin_url}}" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->