{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>İletişim</h2>
        <ol>
          <li><a href="{% url 'home:home' %}">Anasayfa</a></li>
          <li>İletişim</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  {% include 'includes/messages.html' %}
  
  <!-- ======= Contact Section ======= -->
  <div class="map-section">    
    <iframe class = "w-100" height = "400" id="gmap_canvas"  src="https://maps.google.com/maps?q=fethi%20%C3%A7elebi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>

  <section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">

        <div class="col-lg-10">

          <div class="info-wrap">
      
            <div class="row">
              <div class="col-lg-4 info">
                <i class="icofont-google-map"></i>
                <h4>Adres:</h4>
                <p>{{setting.adress}}</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{setting.email}}</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-phone"></i>
                <h4>İletişim Numarası</h4>
                <p>{{setting.phone}}<br>{{setting.phone}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form action ="#form" method="post" novalidate>
            {% csrf_token %}			
            
            <div class="form-row">
              <div class="form-group col-6 mb-0">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="form-group col-6 mb-0">
                {{ form.email|as_crispy_field }}
              </div>
            </div>
            {{ form.topic|as_crispy_field }}
            {{ form.content|as_crispy_field }}
              <button type="submit" class="btn btn-danger btn-block btn-sm">Gönder</button>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock content %}
  


